html {
    margin-top: -20px;
    padding: 0;
    margin: 0;
    max-width: auto;
    height: 100vh;
    overflow-y: scroll;
}

.main_Gl {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.imgMain {
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    height: 100vh;
}

.imgMain img {
    width: 350px;
    height: 600px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(img/underwater.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video-card {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;
    text-align: center;
}

.video-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.card-content {
    padding: 20px;
}

h2 {
    font-size: 1.5rem;
    color: white;
}

p {
    font-size: 1rem;
    color: white;
    margin: 10px 0;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

.allcov {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

span {
    color: #007BFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}